* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

html,
body {
    height: 100%;
    width: 100%;
    /* background: linear-gradient(to top right, #0f172a, #334155); */
    background-image: url(./BG57.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    height: 60px;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.247);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

.nav-box1 h2 {
    font-size: 22px;
    /* font-weight: 500; */
    /* font-family: Corbel; */
}

.nav-box2 {
    display: flex;
    column-gap: 60px;
    text-transform: capitalize;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.295);
    padding: 13px 100px;
    border-radius: 30px;

}

.nav-box3 {
    display: flex;
    column-gap: 25px;
    font-size: 32px;
}

.nav-box2 h4 a {
    text-decoration: none;
}

nav .i {
    font-size: 25px;
    display: none;
}

.nav-box3 :nth-last-child(2) {
    color: #e1306c;
}
.nav-box3 :last-child{
    color: #0A66C2;
    border-radius: 15px;
}
/* NAV RESPONSIVE  */

@media (max-width:769px) {
    nav {
        padding: 10px 15px;
    }

    .nav-box1 h2 {
        font-size: 18px;
        text-transform: capitalize;
    }

    .nav-box2 {
        display: none;
    }

    .nav-box3 {
        display: none;
    }

    nav .i {
        display: block;
        font-size: 24px;
        /* background-lor: red; */
    }




    .section1 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.section1 .section-left .sbtn1{
    column-gap: 10px;
    padding: 5px 13px;
    font-weight: 400;
    font-size: 14px;
    margin: 0px 20px;
    margin-top: -100px;
    margin-bottom: 15px;
}
.section1 .section-left h1{
font-size: 37px;
margin: 10px 20px;
line-height: 50px;
}

.section1 .section-left h4 {
    font-size: 20px;
    text-transform: capitalize;
    line-height: 35px;
    margin: 10px 20px;
    font-weight: 400;
}

.section1 .section-left .sbtn2 {
    padding: 10px 30px;
    font-weight: 600;
    font-size: 20px;
    margin: 10px;
    margin: 10px 20px;
}

.section1 .section-left {
    height: 100%;
    width: 100%;
}

.section1 .section-right {
    display: none;
}
/* .section1 .section-right .image{
    background-color: red;
    height: 65%;
    width: 65%;
}
.section1 .section-right .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
} */

}







.section1 {
    height: calc(100% - 60px);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.section-left {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-right {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-right .image{
    height: 70%;
    width: 60%;
    object-fit: cover;
    object-position: center center;
}


.section-left .sbtn1 {
    display: flex;
    column-gap: 8px;
    background-color: transparent;
    padding: 7px 17px;
    border-radius: 4px;
    border: 2px solid rgba(80, 80, 80, 0.625);
    font-weight: 600;
    font-size: 15px;
    margin: 10px 40px;
    max-width: fit-content;
}

.sbtn1 i {
    color: rgb(218, 140, 236);
}

.section-left h1 {
    font-size: 65px;
    text-transform: capitalize;
    margin: 10px 40px;
    line-height: 70px;
}

.section-left h4 {
    font-size: 18px;
    text-transform: capitalize;
    margin: 10px 40px;
    line-height: 28px;
}

.section-left .sbtn2 {
    background-color: transparent;
    padding: 10px 30px;
    border-radius: 10px;
    border: 2px solid rgba(80, 80, 80, 0.625);
    font-weight: 600;
    font-size: 15px;
    margin: 10px 40px;
    max-width: fit-content;
}
span{
    background:linear-gradient(#7D1FDB, #22A9C7, #26DEC8);
    color: transparent;
    -webkit-background-clip: text;
}














